/Anagram.class
/AnagramPlain.class
/BinaryWordSearch.class
/BubbleSort.class
/InsertionSort.class
/MEssage.class
/MergeSort.class
/NewGEneric.class
/NewGenericType.class
/Permutationstring.class
/Pratic.class
/PrimeInRange.class
/Question.class
/RecursivePermutation.class
